<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanbit.web.mapper.MemberMapper">
  <select id="selectList" resultType="com.hanbit.web.member.MemberDTO">
    select id, password, name, addr, birth, cate,
    profile_img AS profileImg 
   from Member
  </select>
  <select id="selectById" resultType="com.hanbit.web.member.MemberDTO" parameterType="string">
  	select 
    id, 
    password, 
    name, 
    addr, 
    birth, 
    cate,
    profile_img AS profileImg 
    FROM Member where id = #{id}
  </select>
 <select id="login" resultType="com.hanbit.web.member.MemberDTO" parameterType="com.hanbit.web.member.MemberDTO">
  	SELECT 
    id, password, name, addr, birth, cate,
    profile_img AS profileImg 
    FROM Member 
  	where id = #{id} and password = #{password}
  </select>
  <select id="isMember" resultType="boolean"></select>
    <select id="count" resultType="int">
    select count(*) from Member
  </select>
  <insert id="insert" parameterType="com.hanbit.web.member.MemberDTO">
  	INSERT INTO Member(id, password, name, addr, birth, cate,profile_img) 
  	VALUES (#{id}, #{password}, #{name}, #{addr},#{birth},#{cate},'default_profile.png')  	
  </insert>
  
  	<update id="update"  parameterType="com.hanbit.web.member.MemberDTO">
  	UPDATE Member SET password = #{password} , addr = #{addr} ,
  	profile_img = #{profileImg} 
  	WHERE id = #{id}
  </update>
  <delete id="remove" parameterType="com.hanbit.web.member.MemberDTO">
  	DELETE FROM Member WHERE id =#{id};
  </delete>
</mapper>